# tau lah harus ambil dimana!
API_ID=27641160
API_HASH=921b0d44a4f1974d12baba1c573eb458

# tau lah harus ambil dimana!
# pilih salah satu antara REDIS atau MONGI!
# jika menggunakan REDIS, silahkan beri tanda pagar (#) sebelum MONGO_URI,
# contoh : # MONGO_URI=

# REDIS_URI=
# REDIS_PASSWORD=

# jika menggunakan MONGO, silahkan beri tanda pagar (#) sebelum REDIS_URI & REDIS_PASSWORD, 
# contoh : # REDIS_URI=
# contoh : # REDIS_PASSWORD=

MONGO_URI=mongodb+srv://hilmiubot:fadhil123@cluster0.4t373ai.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# isi dengan STRING PYROGRAM V2 atau TELETHON yang bisa anda dapatkan atau generate di https://t.me/NayaXRobot atau https://t.me/LuciferGenstringRobot
SESSION=1BVtsOH8Bu65vUoDXH9B6ifSJNn7dHP8wwqzaZqzakEHetYN4KR6xhBf5eltZsMd52RB7iSbCG--R9Qo-hgsIUh1dQVtyDw7xuwW7QWtUZeUM6z6lWBpuZgFHi-gDOR9Ig01plTfG2SJ4Sb51EjnLLTQ3h2itUqIEo-J5pJOhiElMTYJEgkgeh4-NX6fbYnGzAUb_ZvOmcZQsOTGXQW_3QJ5RBQyTEeVvHRVfvUPcjKNFgcEx9okbQo2A6bRRRz6DEjvRxsfRMtziHtpLoydHm-1IDp1tfT7V8d6HBbHdmkzAKQ7nh2zIxsuoxOm-2ocDNJpIkSU330Ztu1o7mgAkjricMzdjYYQ=


# © https://t.me/LuciferBukanRobot
